<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Suser</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link href="{{ asset('AppBundle/Resources/Public/css/style.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block navmenu %} 
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        {% if app.user %}
                        <a class="navbar-brand" href="#">Welcome {{app.user.username}}</a>
                        {% endif %} 
                    </div>
                    <ul class="nav navbar-nav">                        
                        {% if app.user %}                         
                            <li><a href="/profile">Edit Profile</a></li>
                            <li><a href="/logout">Logout</a></li>
                        {% else %}
                            <li class="active"><a href="/login">Login</a></li>
                        {% endif %}                                             
                    </ul>
                </div>
            </nav>
        {% endblock %}
        <div class="container">
        {% block body %}                
                <h3>Basic Navbar Example</h3>
                <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
        {% endblock %}
        </div>
    </body>
</html>


