/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 Oct, 2016, 6:26:02 PM
    Author     : shivraj
*/
.user-from-container {
    display: block;
    margin: 0px auto;
    width: 28%;
    border: 2px solid #bbbbc1;
    padding: 21px;
    border-radius: 4px;
    box-shadow: 10px 10px 10px #888888;
}

.error {
    background: #d45151;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 12px;
    width: 92%;
}
.success{
    background: green;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 12px;
    width
}